= haml :dashboard
.categories{:style=> "position: absolute"}
  - if flash[:notice]
    .form-group{class: "show-warning"}
      %div{class: "alert alert-warning", "data-alert" => ""}
        = flash[:notice]
        %a.close{href: "#"}
  .hiddenCB
    %div
      %h5 User Categories
      -if @user_categories
        - @user_categories.each do |element|
          .category-item
            #{element['name']}
            %form{:action => "/categories/#{element['id']}", :method => "post", :role => "form"}
              %input{:value => 'delete', :type => 'hidden', :name => '_method'}/
              %button.delete-button
                %img{:src=>'/imgs/garbage.svg'}

  .hiddenCB
    %div
      %h5 All Categories
      -if @categories
        %form{:action => "/categories/add", :method => "post", :role => "form"}
          - @categories.each do |element|
            %input{:id => "#{element['name']}", :name => "choice[]", :type => "checkbox", :value =>"#{element['id']}"}/
            %label{:for => "#{element['name']}"} #{element['name']}
          %button.btn.btn-primary{:type => "submit"} Submit
